[submodule "boost"]
	path = boost
	url = https://github.com/boostorg/boost.git
	branch = master
[submodule "libgit2"]
	path = libgit2
	url = https://github.com/libgit2/libgit2.git
	branch = main
[submodule "fritzing-parts"]
	path = fritzing-parts
	url = https://github.com/fritzing/fritzing-parts.git
	branch = main
